.stars {
    background-image: url("https://d1irxr40exwge2.cloudfront.net/stars.png");
    background-repeat: no-repeat;
    align-self: center;
    height: 25px;
    width: 95px;
}

.five {
    background-position: -2px -387px;
}

.four_half {
    background-position: -195px -459px;
}

.four {
    background-position: -292px -483px;
}

.three_half {
    background-position: -2px -412px;
}

.three {
    background-position: -98px -435px;
}

.two_half {
    background-position: -98px -459px;
}

.two {
    background-position: -195px -483px;
}

.one_half {
    background-position: -98px -483px;
}

.one {
    background-position: -2px -435px;
}

.zero_half {
    background-position: -2px -483px;
}

.zero {
    background-position: -2px -458px;
}
