.stars {
    background-image: url("https://d1irxr40exwge2.cloudfront.net/stars.png");
    background-repeat: no-repeat;
    align-self: center;
    height: 22px;
    width: 95px;
}

.five {
    background-position: -2px -390px;
}

.four_half {
    background-position: -195px -462px;
}

.four {
    background-position: -292px -486px;
}

.three_half {
    background-position: -2px -415px;
}

.three {
    background-position: -98px -438px;
}

.two_half {
    background-position: -98px -462px;
}

.two {
    background-position: -195px -486px;
}

.one_half {
    background-position: -98px -486px;
}

.one {
    background-position: -2px -438px;
}

.zero_half {
    background-position: -2px -486px;
}

.zero {
    background-position: -2px -462px;
}
