/* TODO Add site wide styles */
body {
    margin: 0;
}

.page-container {
    position: relative;
    min-height: 100%;
    padding-bottom: 8rem;
    min-height: 90vh;
}

#coming-soon {
    height: 72vh;
    text-align: center;
}
