#sign-out-button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin: 0;
}

#sign-out-button:hover {
    background-color: #d3d3d3;
}

#sign-out-button>i {
    margin-right: 8px;
}
